.archivedPost {
  margin-top: 50px;
  max-width: 1024px;
}

.archivedPost h5 {
  font-weight: bolder;
}

.archivedPost a {
  text-decoration: none;
  display: inline-block;
}

.archivedPostLink h2 {
  width: auto;
}

.archivedPostLink h2:hover {
  background-image: linear-gradient(transparent 20px, pink 0);
}

.archivedPost a:hover {
  text-decoration: none;
}

.archivedPost a, a, a:visited, a:hover, a:active {
  color: inherit;
}
