.archivedPost {
  margin-top: 25px;
}

/* Spacing between date and archived post title */
.archivedPost p {
  margin-bottom: 20px;
}

.archivedPostTitle a:hover {
  background-image: linear-gradient(transparent 20px, pink 0);
}

.archivedPost a, a, a:visited, a:hover, a:active {
  color: inherit;
}
