.blogPostPreview {
  height: auto;
  display: inline-block;
}

.blogPostPreview {
  width: 50%;
  padding: 15px;
}

.blogPostPreview:first-child {
  width: 100%;
}

.blogPostTitle a:hover {
  background-image: linear-gradient(transparent 18px, pink 0);
}

.blogPostTitle a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.blogExcerpt {
  margin-top: 20px;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 440px) {
  .blogPostPreview {
    width: 100%;
    padding: 0px;
  }
}
