.footer {
  display: block;
  background: #EB362F;
  font-weight: bolder;
  text-align: center;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  justify-items: center;
}

.footerIcons {
  width: 60%;
  margin: 10px auto;
}

.footer img {
  width: 65px;
  padding: 0 10px;
}

@media only screen and (max-width: 440px) {
  .footer p {
    width: 70%;
  }
}
