.headerContainer {
  /* background: #29D1BA; */
  /* background: #3596FA; */
  background: dodgerblue;
  /* margin-bottom: 1.45rem; */
  border-top: 10px solid #000000;
  border-bottom: 10px solid #000000;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  height: 90px;
}

.navigation {
  display: inline-flex;
  height: auto;
  /* position: absolute; */
  align-items: center;
  /* background-color: dodgerblue; */
}

.headerTitle {
  margin: 0;
  line-height: normal;
  display: inline;
  color: #000000;
}

.headerTitleLink {
  height: 100%;
  color: #000000;
  text-decoration: none;
  padding: 0px 10px;
}

.navigationRight {
  right: 0;
}

.headerLink {
  display: inline;
  margin: 0;
  padding: 0 20px;
  color: #000000;
}
