.headerContainer {
  /* background: #29D1BA; */
  /* background: #3596FA; */
  margin-bottom: 1.45rem;
  border: 5px solid #000000;
}

.headerWrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.45rem 1.0875rem;
  position: relative;
  height: 90px;
}

.navigationLeft, .navigationRight {
  display: inline;
  position: absolute;
  /* background-color: dodgerblue; */
}

.headerTitle {
  display: inline;
  color: #000000;
}

.headerTitleLink {
  color: #000000;
  text-decoration: none;
  padding: 0px 10px;
}

.navigationRight {
  right: 0;
}

.headerLink {
  display: inline;
  padding: 20px;
  color: #000000;
}
