.blogPostPreview {
  height: auto;
  transition: 0.5s;
}

.blogPostTitle a:hover {
  background-image: linear-gradient(transparent 24px, pink 0);
}

.blogPostTitle a, a:visited, a:hover, a:active {
  text-decoration: none;
}

.blogExcerpt {
  text-overflow: ellipsis;
}
