
.blogPostTitleContainer {
  background: #29D1BA;
}

.blogFeed .blogPostPreview:nth-child(2n) .blogPostTitle {
  background: #FED430;
}

.blogFeed .blogPostPreview:nth-child(3n) .blogPostTitle {
  background: #FECFC9;
}

.blogPostPreview {
  margin-bottom: 50px;
  height: auto;
  padding: 30px 20px 40px 20px;
  transition: 0.5s;
  /* background: #FFFDFD; */
}

.blogPostPreview:hover {
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.1);
  transform: translate(-1px, -1px);
  transition: 0.5s;
}

.blogPostTitle {
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  box-shadow: 10px 10px #262626;
  text-align: center;
}

.blogPostTitle a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  /* height: inherit; */
}

.blogDate {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
  width: 100px;
}

.blogExcerpt {
  border: 2px solid black;
  padding: 15px;
  /* box-shadow: 10px 10px; */
}

.blogPostLink {
  font-weight: 500;
  font-size: 15px;
  border: 3px solid black;
  text-decoration: none;
  padding: 10px 30px;
  box-shadow: 5px 5px #262626;
}

.blogPostLink:hover {
  background: dodgerblue;
}