.blogSiteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-left: 8px solid black;
  border-right: 8px solid black;
}

span {
  background-image: linear-gradient(transparent 13px, #29D1BA 0);
}
