.contentContainer {
  margin: 0 auto;
  max-width: 760px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
  /* background: lightskyblue; */
}

.footer {
  /* background: #FED430; */
  line-height: 60px;
  /* border: 5px solid black; */
  font-weight: bolder;
  text-align: center;
}

.footer a {
  text-decoration: none;
}