/* Show a specific Tag page */
.taggedPost {
  padding-top: 30px;
}

.taggedPost h2 {
  width: fit-content;
}

.taggedPost h2:hover {
  background-image: linear-gradient(transparent 22px, pink 0);
}

.taggedPost h5 {
  font-weight: bolder;
}

.taggedPost a {
  text-decoration: none;
}
