/* List All Tags page */
.tag {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 15px 15px 15px 0px;
}

.tag a {
  border: 4px solid black;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
}

.tag a:hover {
  background: #FECFC9;
}

/* Show a specific Tag page */
.taggedArticle h3 {
  background-image: linear-gradient(transparent 16px, #29D1BA 0);
  width: fit-content;
}

.taggedArticle a {
  text-decoration: none;
}

.allTag a {
  border: 4px solid black;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
  width: 100px;
  text-align: center;
}


.allTag a:hover {
  background: #FECFC9;
}
